﻿@using Data
@using Data.DataForms
@using SocialChallenge.Methods

@{
    // Get all teams
    List<Team> list = DataLibrary.Logic.TeamProcessor.LoadTeams();

    // Select only the teams with tasks which require validation
    List<Team> teamWithTasks =
        (from team in list
         where team.Tasks.Any(task => task.Done == Constants.TaskProgress.Finished && task.Approved == Constants.TaskStatus.New)
         select team).ToList();

    // Count the number of tasks that that require validation
    int TasksThatRequireValidationCount = teamWithTasks.Select(team => team.Tasks.Where(task => task.Done == Constants.TaskProgress.Finished && task.Approved == Constants.TaskStatus.New)).Count();
}

@if (TempData["ErrorMessage"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <strong>@Html.Raw(TempData["ErrorMessage"])</strong>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <strong>@Html.Raw(TempData["SuccessMessage"])</strong>
    </div>
}

@if (TempData["InfoMessage"] != null || UserSession.IsLoggedIn() && UserSession.GetAccessLevel() == Constants.AccessLevel.Teacher && TasksThatRequireValidationCount != 0)
{
    <br />
    <div class="alert alert-info" role="alert">
        <strong>
            @* If there are finished tasks that require approval, they will be displayed here *@
            @if (TasksThatRequireValidationCount != 0 && UserSession.IsLoggedIn() && UserSession.GetAccessLevel() == Constants.AccessLevel.Teacher)
            {
                if (TasksThatRequireValidationCount == 1)
                {
                    @Html.Raw("Er is 1 taak die nagekeken moet worden van het volgende team: ")
                }
                else
                {
                    @Html.Raw($"Er zijn {TasksThatRequireValidationCount} taken die nagekeken moeten worden van de volgende teams: ")
                }

                // Append a string of the team(s) that has/have completed tasks
                @Html.Raw(String.Join(", ", teamWithTasks.Select(
                    s => string.Format(
                        "<u><a href=" + Url.Action("Details", "Team", new {id = s.Id}) + ">{0}</a></u>", s.Name)
                    )))
                <br/>
            }
            @Html.Raw(TempData["InfoMessage"])
        </strong>
    </div>
}