﻿@using Data
@using Data.DataForms
@using Microsoft.Ajax.Utilities
@using SocialChallenge.Methods

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* Title alongside the given viewbag title, if it exists *@
    <title>@Html.Raw(ViewBag.Title != null ? $"{ViewBag.Title} - " : "")@Config.Get("app_name")</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @* Index link, with app name *@
                @Html.ActionLink(Config.Get("app_name"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            @* Navigation links *@
            <div class="navbar-collapse collapse">
                
                @* Left side *@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                    @if (UserSession.IsLoggedIn() && UserSession.GetAccessLevel() != Constants.AccessLevel.Normal)
                    {
                        <li>@Html.ActionLink("Alle gebruikers", "Index", "User")</li>
                        <li>@Html.ActionLink("Alle teams", "Index", "Team")</li>
                        <li>@Html.ActionLink("Takenlijst", "Index", "Task")</li>
                    }
                </ul>

                @* Right side, with login and such *@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        @* Alert boxes *@
        @Html.Partial("_AlertPartial")
        
        @* Main page content *@
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Config.Get("app_author")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
