﻿@using Data
@using SocialChallenge.Methods
@if (Session["user"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registreren", "SignUp", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Inloggen", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
else
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (UserSession.GetAccessLevel() != Constants.AccessLevel.Teacher)
            {
                <li>
                    @if (UserSession.GetAccessLevel() == Constants.AccessLevel.Admin)
                    {
                        @Html.ActionLink("Codes", "Index", "Code")
                    }
                    else
                    {
                        @Html.ActionLink($"Mijn team", "Mine", "Team", new {id = UserSession.GetId()}, null)
                    }
                </li>
            }

            <li>
                @Html.ActionLink(
                    $"Ingelogd als {UserSession.GetFullName()}", "Profile", "Home", new {id = UserSession.GetId()}, null
                    )
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a></li>
        </ul>
    }
}