﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Taskslist-Container {
    margin: 50px;
}

/* table colors */
.table tbody tr.success {
    background-color: #dff0d8 !important;
}

.table tbody tr.error {
    background-color: #f2dede !important;
}

.table tbody tr.warning {
    background-color: #fcf8e3 !important;
}

.table tbody tr.info {
    background-color: #d9edf7 !important;
}
