﻿@using Data
@using Data.DataForms
@using SocialChallenge.Methods
@model Data.DataForms.Team

<h1 class="text-center">@Model.Name</h1>
<h4 class="text-center">@String.Join(", ", Model.Users.Select(user => user.Fullname))</h4>

<br />

<p>
    @Html.ActionLink("Team info aanpassen", "edit", new { id = Model.Id })
    <br />
    @Html.ActionLink("Naar teams", "Index")
</p>

<hr />

<div class="text-center">
    <p>Taken volbracht: @Html.Raw(Model.Tasks.Count == 0 ? "nog geen taken!" : $"{Model.FinishedTasks.Count()} / {Model.Tasks.Count()}")</p>
    <p>Totale opbrengst: @Model.EarnString</p>
    @if (UserSession.IsLoggedIn() && UserSession.GetTeamId() == Model.Id)
    {
        <a href=@Url.Action("Revenuechange", "Task", new {Model.Id})><button class="btn btn-primary">Total opbrengst aanpassen</button></a>
    }
    else if (UserSession.IsLoggedIn() && UserSession.GetAccessLevel() != Constants.AccessLevel.Normal)
    {
        if (Model.Available == true)
        {
            <a href=@Url.Action("Delete", "Team", new {Model.Id})><button class="btn btn-danger">Team verwijderen</button></a>
        }
        else
        {
            <a href=@Url.Action("Recover", "Team", new {Model.Id})><button class="btn btn-success">Team herstellen</button></a>
        }
    }   
</div>

<h2>@Html.DisplayNameFor(model => model.Tasks)</h2>
@if (UserSession.IsLoggedIn() && UserSession.GetTeamId() == Model.Id)
{
    <a href=@Url.Action("Create", "Task", new {Model.Id})><button class="btn btn-primary">Nieuwe taak aanmaken</button></a>
    <br />
    <br />
}

@if (!Model.Tasks.Any())
{
    <div class="alert alert-warning" role="alert">
        Dit team heeft nog geen taken opgesteld.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Tasks[0].Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Tasks[0].Description)</th>
                <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Tasks[0].Done)</th>
                <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Tasks[0].Approved)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Task task in Model.Tasks)
            {
                @* add a success or error class depending on the task's approval setting *@
                <tr @Html.Raw(task.Approved == Constants.TaskStatus.Approved ? "class=\"success\"" : task.Approved == Constants.TaskStatus.Rejected ? "class=\"error\"" : "")>

                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td class="text-center">
                        @Html.Raw(task.Done == Constants.TaskProgress.Finished ? "&#10004" : "")
                    </td>
                    <td class="text-center">
                        @Html.Raw(task.Approved == Constants.TaskStatus.Approved ? "&#10004" : task.Approved == Constants.TaskStatus.Rejected ? "X" : "")
                    </td>
                    <td>
                        @if (UserSession.IsLoggedIn() && UserSession.GetTeamId() == Model.Id)
                        {
                            // Edit button
                            if (task.Done == Constants.TaskProgress.Open && task.Approved == Constants.TaskStatus.New)
                            {
                                <a href=@Url.Action("Edit", "Task", new { id = Model.Id, taskid = task.Id })><button class="btn btn-primary">Aanpassen</button></a>
                            }

                            // If your team has a task open that you can set as done, make a button
                            if (task.Done == Constants.TaskProgress.Open && task.Approved == Constants.TaskStatus.New)
                            {
                                <a href=@Url.Action("Finish", "Task", new { id = Model.Id, taskid = task.Id })><button class="btn btn-success">Afvinken</button></a>
                            }
                        }

                        @if (UserSession.IsLoggedIn() && UserSession.GetAccessLevel() != Constants.AccessLevel.Normal)
                        {
                            // Approve button
                            if (task.Approved != Constants.TaskStatus.Approved && task.Done == Constants.TaskProgress.Finished)
                            {
                                <a href=@Url.Action("Approve", "Task", new { id = Model.Id, taskid = task.Id })><button class="btn btn-success">Goedkeuren</button></a>
                            }

                            // Reject button (should always be visible if not rejected yet, because of stupid tasks)
                            if (task.Approved != Constants.TaskStatus.Rejected)
                            {
                                <a href=@Url.Action("Reject", "Task", new { id = Model.Id, taskid = task.Id })><button class="btn btn-danger">Afkeuren</button></a>
                            }

                            // A revert button to revert a task approval that was not done
                            if (task.Approved != Constants.TaskStatus.New)
                            {
                                <a href=@Url.Action("Revert", "Task", new { id = Model.Id, taskid = task.Id })><button class="btn btn-default">terugkeren</button></a>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<small class="text-muted">Een taak is pas volbracht als deze goedgekeurd is door een docent.</small>
@if (Model.Charitygoal == null)
{
    <br />
    <small class="text-muted">Dit team heeft nog geen doelbedrag.</small>
}