﻿@model Data.DataForms.Team

@{
    ViewBag.Title = "Aanpassen";
}

<h2 class="text-center">@ViewBag.Title</h2>
<h4 class="text-center">Pas hier de info van je team aan.</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Charitygoal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Charitygoal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Charitygoal, "", new { @class = "text-danger" })
                <br/>
                <small class="text-muted">Als je je doelbedrag nog niet weet, hoef je deze nog niet in te vullen.</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aanpassen" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar je team", "Details", new {Model.Id})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
