﻿@using Data.DataForms
@model IEnumerable<Data.DataForms.Team>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        Er zijn nog geen teams.
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
        </tr>

        @foreach (Team team in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(team.Name, "Details", new {id = team.Id})
                </td>
                <td>
                    @Html.Raw(String.Join(", ", team.Users.Select(
                        s => string.Format(
                            "<a href="+Url.Action("profile", "home", new { id = s.Id, referral = "teams" })+">{0}</a>", s.Fullname)
                    )))
                </td>
            </tr>
        }

    </table>
}
