﻿@using Data
@using Data.DataForms
@using SocialChallenge.Methods
@model IEnumerable<Data.DataForms.User>

@{
    ViewBag.Title = "Alle gebruikers";
}

<h2>Alle gebruikers</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        Er zijn nog geen gebruikers.
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Team)
            </th>
        </tr>

        @foreach (User user in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(user.Fullname, "profile", "home", new { id = user.Id, referral = "list" }, null)
            </td>
            <td>
                @user.Username
            </td>
            <td style="min-width: 50px;">
                @if (user.Team != null)
                {
                    @Html.ActionLink(user.Team.Name, "Details", "team", new { id = user.Team.Id, referral = "list" }, null)
                }
            </td>
            <td>
                @if (UserSession.IsLoggedIn())
                {
                    if (UserSession.GetId() == user.Id)
                    {
                        @Html.ActionLink("Aanpassen", "Edit", new { id = user.Id })
                    }
                    else if (UserSession.GetAccessLevel() == Constants.AccessLevel.Admin)
                    {
                        @Html.ActionLink("Aanpassen", "Edit", new { id = user.Id })
                        @Html.Raw(" - ")
                        if (user.Status == Constants.StatusType.Removed)
                        {
                            @Html.ActionLink("Herstellen", "Recover", new { id = user.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Verwijderen", "Delete", new { id = user.Id })
                        }
                    }

                }
            </td>

            <td>
                @if (user.Status == Constants.StatusType.Removed)
                {
                    @Html.Raw("Deze gebruiker is reeds verwijderd.");
                }
            </td>
        </tr>
        }
    </table>
}
