﻿@model Data.DataForms.User

@{
    ViewBag.Title = "Herstelling";
}

<h2>@Model.Username herstellen</h2>

<h3>Weet je zeker dat je deze gebruiker wilt herstellen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_level)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Herstel" class="btn btn-default" />
            of
            @Html.ActionLink("Terug naar lijst met gebruikers", "Index")
        </div>
    }
</div>
