﻿@model Data.CreateForms.Team

@{
    ViewBag.Title = "Nieuw team";
}

<h2 class="text-center">@ViewBag.Title</h2>
<h4 class="text-center">
    Je bent de eerste van je groepje die registreert!
    <br/>
    Geef een naam voor je groepje, of druk op doorgaan om je groepsnaam zo te houden.
    <br/>
    Geef ook een doelbedrag als je die al weet. Dit is het doel die je probeert te bereiken!
</h4>
<p class="text-center">
    <small class="text-muted">Je groepsnaam en doelbedrag kan later nog veranderd worden wanneer jij dit wilt.<br/>Je doelbedrag hoeft dus niet nu al ingevuld te worden!</small>
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Charitygoal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Charitygoal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Charitygoal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
