﻿@using Data
@using SocialChallenge.Methods
@model Data.DataForms.User

@{
    ViewBag.Title = "Profiel";
}

<div>
    <div class="text-center">
        <h1>(@Model.Id) @Model.Username</h1>

        @if (Model.Access_level == Constants.AccessLevel.Teacher)
        {
            <h4>Docent</h4>
        }
        else if (Model.Access_level == Constants.AccessLevel.Admin)
        {
            <h4>Website administrator</h4>
        }
    </div>
    
    <br/>
    <p>
        @{ bool canEdit = false; }

        @* If the user is logged in, there could be an edit, remove and recover button if the user has the right privileges *@
        @if (UserSession.IsLoggedIn())
        {
        @* If the user is an admin there will be buttons if he's not viewing himself *@
            if (UserSession.GetAccessLevel() == Constants.AccessLevel.Admin)
            {
                @Html.ActionLink("Aanpassen", "Edit", "User", new { id = Model.Id }, null)

            @* An admin cannot remove/recover himself *@
                if (UserSession.GetId() != Model.Id)
                {
                    @Html.Raw(" - ");
                    if (Model.Status == Constants.StatusType.Normal)
                    {
                        @Html.ActionLink("Verwijderen", "Delete", "User", new { id = Model.Id }, null)
                    }
                    else
                    {
                        @Html.ActionLink("Herstellen", "Recover", "User", new { id = Model.Id }, null)
                    }
                }

                canEdit = true;
            }

        @* A regular user may only edit himself *@
            else if (UserSession.GetId() == Model.Id)
            {
                @Html.ActionLink("Aanpassen", "Edit", "User", new { id = Model.Id }, null)
                canEdit = true;
            }
        }

        @if (canEdit && !String.IsNullOrEmpty(ViewBag.referral))
        {
            @Html.Raw(" - ");
        }

        @if (!String.IsNullOrEmpty(ViewBag.referral))
        {
            if (ViewBag.referral == "list")
            {
                @Html.ActionLink("Terug naar gebruikers", "Index", "User")
            }
            else if (ViewBag.referral == "teams")
            {
                @Html.ActionLink("Terug naar teams", "Index", "Team")
            }
            else if (ViewBag.referral == "codes")
            {
                @Html.ActionLink("Terug naar codes", "Index", "Code")
            }
        }
    </p>

    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        @if (Model.Access_level == Constants.AccessLevel.Normal)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Team)
            </dt>

            <dd>
                @if (Model.Team == null)
                {
                    @Html.Raw("gebruiker bevind zich niet in een team.")
                }
                else
                {
                    @Html.ActionLink(Model.Team.Name, "Details", "Team", new { id = Model.Team.Id }, null)
                }
            </dd>
        }

        <dt>
            Account leeftijd
        </dt>

        <dd>
            @{ int dayDifference = (DateTime.Now - Model.Date_added).Days; }
            @Html.Raw($"{dayDifference} {(dayDifference == 1 ? "dag" : "dagen")}")
        </dd>
    </dl>
</div>
