﻿@using Data
@using Data.DataForms
@using SocialChallenge.Methods
@model IEnumerable<Data.DataForms.Team>

@{
    ViewBag.Title = "Alle taken";
}

<h2>@ViewBag.Title</h2>
<h4>
    Vind hier alle taken voor elk team. Klik op de teamnaam om naar de pagina te gaan
    <br/>
    <u>Op de teampagina kunnen taken goed- of fout-gekeurd worden.</u>
</h4>

@if (!Model.Any(team => team.Tasks.Any()))
{
    <div class="alert alert-warning" role="alert">
        Er bestaan nog geen taken
    </div>
}
else
{
    // Each team has its own table
    foreach (Team team in Model)
    {
        <div class="Taskslist-Container">
            <div class="text-center">
                <h3><a href=@Url.Action("Details", "Team", new {team.Id})>@team.Name</a></h3>
                <p>Taken volbracht: @Html.Raw(team.Tasks.Count == 0 ? "nog geen taken!" : $"{team.FinishedTasks.Count()} / {team.Tasks.Count()}")</p>
                <p>Totale opbrengst: @team.EarnString</p>
            </div>
            
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Tasks[0].Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Tasks[0].Description)</th>
                    <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Tasks[0].Done)</th>
                    <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Tasks[0].Approved)</th>
                </tr>
                </thead>
                <tbody>
                @foreach (Task task in team.Tasks.Where(task => task.TeamId == team.Id))
                {
                        @* add a success or error class depending on the task's approval setting *@
                    <tr @Html.Raw(task.Approved == Constants.TaskStatus.Approved ? "class=\"success\"" : task.Approved == Constants.TaskStatus.Rejected ? "class=\"error\"" : "")>

                        <td>@task.Name</td>
                        <td>@task.Description</td>
                        <td class="text-center">
                            @Html.Raw(task.Done == Constants.TaskProgress.Finished ? "&#10004" : "")
                        </td>
                        <td class="text-center">
                            @Html.Raw(task.Approved == Constants.TaskStatus.Approved ? "&#10004" : task.Approved == Constants.TaskStatus.Rejected ? "X" : "")
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
}
