﻿@using Data.DataForms;
@model IEnumerable<Data.DataForms.Code>

@{
    ViewBag.Title = "Codelijst";
}

<h2>@ViewBag.Title</h2>
<h4>Gebruik deze code lijst om nieuwe team- en of docent-leden toe te voegen aan de website.</h4>
<h4>Als je een nieuwe code aanmaakt, zal je een bruikbare code krijgen die mensen kunnen invullen bij het registreren</h4>

<br/>
<form method="post">
    <input type="submit" class="btn btn-primary form-inline" value="Leerling code aanmaken" name="student-code">
    <input type="text" placeholder="team #" style="width:55px;" name="teamid">
    <br />
    <small class="text-muted">Laat het teamnummer leeg als de code niet tot een team behoord.</small>
    <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Docent code aanmaken" name="teacher-code">
</form>
<br />
<br />

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        Er zijn nog geen code's beschikbaar.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Access_level)</th>
                <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.TeamId)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Use_By)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Users)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Code code in Model)
            {
                <tr>
                    <th scope="row">@code.Id</th>
                    <td>@code.Access_level</td>
                    <td class="text-center">@code.TeamId</td>
                    <td>@code.GetUseByDate()</td>

                    @if (code.Users != null)
                    {
                        <td>
                            @Html.Raw(String.Join(", ", code.Users.Select(
                                s => string.Format(
                                    "<a href=" + Url.Action("profile", "home", new {id = s.Id, referral = "teams"}) + ">{0}</a>", s.Fullname)
                                )))
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
